@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scrollbar {
    overflow-x:auto;
    scrollbar-width: none; /* For Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  .hide-verticalscrollbar {
    overflow-y: auto; 
    scrollbar-width: none; /* For Firefox */
  }
  
  .hide-verticalscrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and other WebKit browsers */
  }
  